<div id="status-message"></div>
<form method="post" id="contact-form" action="#">
  <input type="hidden" name="_to" value="team@variantstudios.com">
  <input type="hidden" name="_subject" value="Compass Community Collaborative School: Contact Form">
   <input type="text" name="_gotcha" style="display: none;">
    <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="">
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="">
    </div>
    <div class="webform-component">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6"></textarea>
    </div>
    <div class="g-recaptcha" id="recaptcha" data-sitekey="6LfxPSAUAAAAAHG-l97Z0Gu8nxRifPt9yTRPT-IQ"></div><br>
    <input class="sendButton" type="submit" value="Send">
</form>
