<div id="footer-outer" data-using-widget-area="true">


    <div id="call-to-action">
        <div class="container">
            <div class="triangle"></div>
            <span> Help us Build a School for the Future! </span>
            <a class="nectar-button regular-button  extra-color-3" data-color-override="false" href="https://compassfortcollins.org/contribute/?cfpage=project&project_id=13261" style="visibility: visible;">Contribute to Compass </a>
        </div>
    </div>



    <div id="footer-widgets">

        <div class="container">

            <div class="row">


                <div class="col span_6">
                    <!-- Footer widget area 1 -->
                    <div id="text-2" class="widget widget_text">
                        <div class="textwidget">
                            <div style="padding-top: 35px;">Compass High School is doing more than answering the relevancy question, our mission is to help students to discover learning with purpose; to author the best possible story of their lives and of our collective
                                future.</div>
                        </div>
                    </div>
                </div>
                <!--/span_3-->

                <div class="col span_6">
                    <!-- Footer widget area 2 -->
                    <div id="text-3" class="widget widget_text">
                        <div class="textwidget">
                            <div style="padding-top: 35px;"></div><strong>Development Office Address:</strong><br /> The Music District<br />  639 S College Ave<br /> Fort Collins, CO 80524</div>
                    </div>
                </div>
                <!--/span_3-->



            </div>
            <!--/row-->

        </div>
        <!--/container-->

    </div>
    <!--/footer-widgets-->



    <div class="row" id="copyright">

        <div class="container">

            <div class="col span_5">

                <p>&copy; 2017 Compass High School. All Rights Reserved. </p>

            </div>
            <!--/span_5-->

            <div class="col span_7 col_last">
                <ul id="social">
                    <li><a target="_blank" href="https://twitter.com/compasshighfc"><i class="icon-twitter"></i> </a></li>
                    <li><a target="_blank" href="https://www.facebook.com/CompassHighSchoolFortCollins/"><i class="icon-facebook"></i> </a></li>
                </ul>
            </div>
            <!--/span_7-->

        </div>
        <!--/container-->

    </div>
    <!--/row-->


</div>
<!--/footer-outer-->



<div id="slide-out-widget-area-bg" class="slide-out-from-right light"></div>
<div id="slide-out-widget-area" class="slide-out-from-right" data-back-txt="Back">


    <div class="inner">

        <a class="slide_out_area_close" href="#"><span class="icon-salient-x icon-default-style"></span></a>


        <div class="off-canvas-menu-container mobile-only">
            <ul class="menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-453"><a href="#">About</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="https://compassfortcollins.org/why-compass/">Why Compass?</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-653"><a href="https://compassfortcollins.org/compass-high-school-experience/">The Compass High School Experience</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-652"><a href="https://compassfortcollins.org/research-resources-guiding-innovation/">Research and Resources Guiding our Innovation</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-499 current_page_item menu-item-558"><a href="https://compassfortcollins.org/faqs/">FAQs</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="https://compassfortcollins.org/our-team/">Our Team</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="https://compassfortcollins.org/blog/">Blog</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a href="mailto:info@compasshighschool.org">Contact Us</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-452"><a href="#">Involvement</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="https://compassfortcollins.org/parents/">Parents</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="https://compassfortcollins.org/students/">Students</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="https://compassfortcollins.org/community-partners/">Community Partners</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-511">
                            <a href="https://docs.google.com/forms/d/1tUDNe-uJz-KzOh7rkBO_WyP4zHGTWY2ZozLB7K_8keY/viewform?edit_requested=true" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://docs.google.com/forms/d/1tUDNe-uJz-KzOh7rkBO_WyP4zHGTWY2ZozLB7K_8keY/viewform?edit_requested=true', 'Become a Volunteer');"
                                target="_blank">Become a Volunteer</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-498"><a href="https://compassfortcollins.org/contribute/?cfpage=project&#038;project_id=13261">Contribute to Compass!</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div id="nav_menu-2" class="widget widget_nav_menu">
            <div class="menu-main-site-menu-container">
                <ul id="menu-main-site-menu-2" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-453"><a href="#">About</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="https://compassfortcollins.org/why-compass/">Why Compass?</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-653"><a href="https://compassfortcollins.org/compass-high-school-experience/">The Compass High School Experience</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-652"><a href="https://compassfortcollins.org/research-resources-guiding-innovation/">Research and Resources Guiding our Innovation</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-499 current_page_item menu-item-558"><a href="https://compassfortcollins.org/faqs/">FAQs</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="https://compassfortcollins.org/our-team/">Our Team</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="https://compassfortcollins.org/blog/">Blog</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a href="mailto:info@compasshighschool.org">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-452"><a href="#">Involvement</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="https://compassfortcollins.org/parents/">Parents</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="https://compassfortcollins.org/students/">Students</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="https://compassfortcollins.org/community-partners/">Community Partners</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-511">
                                <a href="https://docs.google.com/forms/d/1tUDNe-uJz-KzOh7rkBO_WyP4zHGTWY2ZozLB7K_8keY/viewform?edit_requested=true" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://docs.google.com/forms/d/1tUDNe-uJz-KzOh7rkBO_WyP4zHGTWY2ZozLB7K_8keY/viewform?edit_requested=true', 'Become a Volunteer');"
                                    target="_blank">Become a Volunteer</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-498"><a href="https://compassfortcollins.org/contribute/?cfpage=project&#038;project_id=13261">Contribute to Compass!</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bottom-meta-wrap">
        <ul class="off-canvas-social-links">
            <li><a target="_blank" href="https://twitter.com/compasshighfc"><i class="icon-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/CompassHighSchoolFortCollins/"><i class="icon-facebook"></i></a></li>
        </ul>

    </div>
    <!--/bottom-meta-wrap-->
</div>


</div>
<!--/ajax-content-wrap-->


<a id="to-top" class=""><i class="icon-angle-up"></i></a>
