<!-- <div id="page-header-wrap" data-animate-in-effect="none" data-midnight="light" class="fullscreen-header" style="margin-top: 0px; height: 477px;">
    <div class="fullscreen-header" data-animate-in-effect="none" id="page-header-bg" data-midnight="light" data-text-effect="none" data-bg-pos="center" data-alignment="center" data-alignment-v="middle" data-parallax="0" data-height="477" style="background-color: rgb(0, 0, 0); height: 477px; overflow: visible;"> -->
    <div id="page-header-wrap" data-animate-in-effect="none" data-midnight="light" class="" style="height: 800px; margin-top: 0px;">	    <div class="" data-animate-in-effect="none" id="page-header-bg" data-text-effect="none" data-bg-pos="center" data-alignment="center" data-alignment-v="middle" data-parallax="0" data-height="800" style="background-color: rgb(0, 0, 0); height: 800px; top: 0px; opacity: 1; overflow: visible;">

        <div class="page-header-bg-image" style="background-image: url({{page.header_image}});"></div>
        <div class="container">
            <div class="row" style="top: 0px; visibility: visible;">
                <div class="col span_6" style="top: 198px;">
                    <div class="inner-wrap">
                        <h1>{{page.title}}</h1>
                        <span class="subheader">{{page.sub_title}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-down-wrap ">
            <a href="#jump" class="section-down-arrow">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
    </div>

</div>
