<div id="header-outer" class="clearfix">
  <header id="top">
      <div class="container">
        <div class="col span_3">
          <a id="logo" href="/">
            <img class="stnd default-logo" alt="Compass High School" src="/assets/images/COMPASS-HIGH-SCHOOL-LOGOS-colors2-2.png" />
            <img class="retina-logo " alt="Compass High School" src="/assets/images/COMPASS-HIGH-SCHOOL-LOGOS-colors2-2.png"
            />
          </a>
        </div>
    <div class="col span_9 col_last">			
							<!--<div class="slide-out-widget-area-toggle">
							<div> <a href="#sidewidgetarea" class="closed"> <i class="icon-reorder"></i> </a> </div> 
       					</div>-->
										
<!-- 					<nav>
						<ul class="buttons" data-user-set-ocm="1">
							<li id="search-btn" style="padding-bottom: 13px; padding-top: 13px;"><div>
                <a href="#searchbox" class=""><span class="icon-salient-search" aria-hidden="true"></span></a></div> 
                </li>
						
									<li class="slide-out-widget-area-toggle menu-btn" style="padding-bottom: 13px; padding-top: 13px;">
									<div> 
                    <a href="#" class="closed"> 
                    <span> <i class="lines-button x2"> <i class="lines"></i> </i> </span> 
                    </a> 
                    </div> 
       							</li>
						</ul>
					</nav> -->
          <nav id="nav-global">
            <div class="menu-btn">
              <span>
                <i class="lines-button x2"> <i class="lines"></i> </i>
              </span> 
            </div>

          {% include nav.html nav=site.data.main-menu %}
        </nav>
					
				</div>
      </div>
  </header>
</div>