.footer-wrapper {
    .footer-inner {
        background-color: $color-two; // Deep sky blue
        p {
            color: #fff;
        }
        h2 {
            color: #fff;
            display: inline;
            font-size: 2rem;
            margin: 0 1rem 0 0;
            font-family: $font-family;
            font-weight: 900;
        }
        .one {
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(4, 2, $gutter: 0);
            }
            .social-icons {
                display: flex;
                a {
                    margin: 0 .5rem;
                    &:first-child {
                        margin-left: 0;
                    }
                    img {
                        height: 60px;
                        width: 60px;
                    }
                    transition: all 0.2s ease;
                    text-decoration: none;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .two {
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(3, 6, $gutter: 0);
            }
        }
        .three {
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(3, 9, $gutter: 0);
            }
            .left {
                @include breakpoint($bp-medium, $no-query: ".no-mq") {
                    @include grid-span(8, 1, $gutter: 0);
                }
            }
            .right {
                //text-align: center;
                @include breakpoint($bp-medium, $no-query: ".no-mq") {
                    @include grid-span(4, 9, $gutter: 0);
                }
                text-align: left;
                img {
                    transition: all 0.2s ease;
                    text-decoration: none;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .full {
            @include clearfix;
            width: 100%;
            text-align: center;
            p {
                font-size: .9rem;
                margin-bottom: .5rem;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    transition: all 0.2s ease;
                    &:hover {
                        color: $color-three;
                    }
                }
            }
        }
    }
    .footer-nav {
        &>ul.menu>li>a {
            font-weight: bold;
        }
        .menu {
            //padding: 0;
            margin: 0;
            font-size: 1em;
            li {
                list-style: none;
                display: block;
                position: relative;
                a {
                    transition: color .5s ease;
                    //display: block;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: $color-three;
                    }
                    &:active {
                        position: relative;
                    }
                }
            }
        }
    }
}