p.in-page--call-to-action {
    padding: 2.5rem 0;
    margin: 2rem 0;
    background-color: #2AACE2;
    background-image: url(/assets/images/patterns/blue-halftone-dot-pattern.png);
    text-align: center;
    color: #fff;
    display: block;
    font-size: 3rem;
    margin: 0 1rem 0 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}