.team--member {
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        display: flex;
        margin: 0 0 2rem 0;
        img {
            flex: 1;
        }
    }
    .team--member-details {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            flex: 1;
            margin: 0 0 0 2rem;
            h3 {
                margin-top: 0;
            }
        }
    }
}