.front {
    .find-your-genius {
        background-color: #fff;
        text-align: center;
        position: relative;
        animation-name: fadeIn;
        opacity: 0;
        animation-duration: 1s;
        background-position: top right;
        background-repeat: no-repeat;
        animation-fill-mode: forwards;
        overflow: hidden;
        width: 100%;
        .find-your-genius-wrapper {
            background: #b9d531 url('/assets/images/front/find-your-genius_bg.png');
            height: 620px;
        }
        .title {
            position: absolute;
            top: -190px;
            left: -217px;
            animation-name: slideDownfromLeft;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-delay: .2s;
            opacity: 0;
            animation-fill-mode: forwards;
        }
        .independent-learner {
            position: absolute;
            top: -56px;
            right: 364px;
            animation-name: slideDown;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-delay: .4s;
            opacity: 0;
            animation-fill-mode: forwards;
        }
        .future-designer {
            position: absolute;
            bottom: 10px;
            right: 170px;
            animation-name: slideUp;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-delay: .6s;
            opacity: 0;
            animation-fill-mode: forwards;
        }
        .creative-inventor {
            position: absolute;
            top: -45px;
            right: -55px;
            animation-name: slideRight;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-delay: .8s;
            opacity: 0;
            animation-fill-mode: forwards;
        }
        .call-to-action {
            position: absolute;
            bottom: 50px;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
            animation-name: SlipIn;
            animation-duration: .4s;
            animation-timing-function: ease;
            animation-delay: 1.8s;
            opacity: 0;
            animation-fill-mode: forwards;
            &:hover {
                bottom: 51px;
                top: auto;
                transform: scale(1.075) translateX(-50%);
            }
        }
        .subtitle {
            color: $color-three;
            font-family: $font-family;
            position: absolute;
            bottom: 80px;
            left: 150px;
            animation-name: slideIn;
            animation-duration: .6s;
            animation-timing-function: ease;
            animation-delay: 1.3s;
            opacity: 0;
            animation-fill-mode: forwards;
        }
    }
    .secondary {
        background-color: #fff;
        h2 {
            font-family: $heading-font-family;
            color: $color-one;
            font-weight: 400;
            font-size: 4rem;
            margin: 0;
            padding: 0;
            line-height: 1;
        }
        h3 {
            font-family: $heading-font-family;
            color: $color-two;
            font-weight: 600;
            font-size: 4rem;
            margin: 0;
            line-height: 1;
        }
        p {
            font-size: 1.2rem;
            margin: 1rem 0;
        }
        h4 {
            color: $color-one;
            display: inline;
            font-size: 2.5rem;
            margin: 0 1rem 0 0;
            font-family: $font-family;
            font-weight: 900;
        }
        h5 {
            font-family: $font-family;
            font-weight: 700;
            color: $color-two;
            font-size: 2rem;
            display: inline-block;
        }
        a.call-to-action {
            vertical-align: text-bottom;
            margin: 1rem 0 0 1rem;
        }
    }
    .curious {
        padding: 2.5rem 0;
        background-color: $color-eight; // Summer sky
        background: url('/assets/images/backgrounds/blue-halftone-dot-pattern.png');
        text-align: center;
        h2 {
            color: #fff;
            display: inline;
            font-size: 3rem;
            margin: 0 1rem 0 0;
            font-family: $font-family;
            font-weight: 900;
        }
        a.call-to-action {
            vertical-align: text-bottom;
        }
    }
    .ventue-project {
        background-color: #dddfe1;
        background: url('/assets/images/backgrounds/compass-nuts-and-bolts-pattern.png');
        @include clearfix;
        .left {
            @include breakpoint($bp-medium,
            $no-query: ".no-mq") {
                @include grid-span(4, 2, $gutter: 0);
            }
        }
        .right {
            h2 {
                color: $color-one;
                display: inline;
                font-size: 2.5rem;
                margin: 0 1rem 0 0;
                font-family: $font-family;
                font-weight: 500;
            }
            h3 {
                color: $color-one;
                font-size: 2.5rem;
                font-family: $font-family;
                display: inline;
                font-weight: 900;
                margin: 0 0 1rem 0;
            }
            p a {
                font-weight: 700;
                text-decoration: none;
            }
            @include breakpoint($bp-medium,
            $no-query: ".no-mq") {
                @include grid-span(6,
                6,
                $gutter: 0);
            }
            .call-to-action {
                text-align: right;
            }
        }
    }
    .that-one-teacher {
        background-color: #ebebeb;
        background: url('/assets/images/backgrounds/compass-geometrics-pattern.png');
        .left {
            @include breakpoint($bp-medium,
            $no-query: ".no-mq") {
                @include grid-span(6, 2, $gutter: 1);
            }
            h2 {
                color: $color-one;
                display: inline;
                font-size: 2.5rem;
                margin: 0 1rem 0 0;
                font-family: $font-family;
                font-weight: 900;
            }
            h3 {
                color: $color-five;
                font-family: $font-family;
                font-weight: 700;
            }
            p a {
                font-weight: 700;
                text-decoration: none;
            }
        }
        .right {
            position: relative;
            @include breakpoint($bp-medium,
            $no-query: ".no-mq") {
                @include grid-span(4, 8, $gutter: 1);
            }
            img {
                width: 100%;
            }
            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transform-origin: 20% 40%;
                &:hover {
                    transform: scale(1.075) translate(-50%, -50%);
                    box-shadow: 5px 20px 30px 0 rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
    .join-the-compass-community {
        background-color: $color-two; // Deep sky blue
        p {
            color: #fff;
        }
        h2 {
            color: #fff;
            display: inline;
            font-size: 2.5rem;
            margin: 0;
            font-family: $font-family;
            font-weight: 900;
        }
        .logos {
            display: flex;
            .logo {
                margin: 0 2rem;
            }
        }
    }
    .news-and-updates {
        display: flex;
        .news-and-update {
            background-color: $color-one; // Citrus
            margin: 0 1rem;
            padding: .4rem .8rem;
            width: 25%;
            position: relative;
            text-decoration: none;
            transition: all 0.2s ease;
            &:hover {
                transform: scale(1.05);
                box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.3);
            }
            a {
                color: #fff;
                text-decoration: none;
                display: block;
            }
            h3 {
                color: #fff;
                font-family: $font-family;
                font-weight: 900;
                font-size: 1.2rem;
                margin: 0 0 .5rem 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            h4 {
                color: $color-three;
                margin: 0;
                font-size: 1.2rem;
            }
            img {
                width: 100%;
            }
            p {
                color: #fff;
                font-size: .9rem;
            }
        }
    }
    .connect-with-compass {
        background-color: $color-three; // Deep pink
        background: url('/assets/images/backgrounds/compass-pencils-pattern.png');
        margin: 0 0 2rem 0;
        padding: 1rem 0 2rem 0;
        h2 {
            color: #fff;
            font-size: 2.5rem;
            margin: 0;
            font-family: $font-family;
            font-weight: 900;
            text-align: center;
            margin-bottom: 2rem;
        }
        .social-posts {
            display: flex;
            .social-post {
                background: #fff;
                position: relative;
                margin: 0 1rem;
                transition: all 0.2s ease;
                text-decoration: none;
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.3);
                }
                .social-tag {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 50px;
                    width: 50px;
                    z-index: 2;
                    background-color: #b9d531; // Fuego
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50%;
                    padding: .5rem;
                    &.facebook {
                        background-image: url('/assets/images/icons/facebook2.svg');
                        background-size: 40%;
                    }
                    &.instagram {
                        background-image: url('/assets/images/icons/instagram2.svg');
                    }
                    &.twitter {
                        background-image: url('/assets/images/icons/twitter2.svg');
                    }
                }
                img {
                    max-width: 366px;
                    display: block;
                }
                .social-text {
                    font-size: .7rem;
                    color: #333333;
                    margin: 1rem;
                    p {
                        color: #333;
                        margin-bottom: .5rem;
                        &.date {
                            color: $color-eight;
                        }
                    }
                }
            }
        }
    }
    .bottom {
        margin: 0 0 2rem 0;
    }
    .top-bottom {
        margin: 2rem 0;
    }
}

.center-container {
    margin: 0 auto;
}

.text-align-center {
    text-align: center;
}

.max-width-medium {
    max-width: 800px;
    margin: 0 auto;
}

.container-padding-small {
    padding: 1rem 0;
}

.container-padding-medium {
    padding: 2rem 0;
}

.container-padding-large {
    padding: 4rem 0;
}

.container-margin-small {
    margin: 1rem 0;
}

.container-margin-medium {
    margin: 2rem 0;
}

.container-margin-large {
    margin: 4rem 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDownfromLeft {
    0% {
        transform: translateY(-100%) translateX(-100%) scale(.8);
        opacity: 1;
    }
    40% {
        transform: translateY(5%) translateX(5%) scale(1);
    }
    100% {
        transform: translateY(0%) translateX(0%) scale(1);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%) translateX(-100%) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(0%) translateX(0%) rotate(360deg);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        //transform: translateY(100%) translateX(-100%) rotate(-360deg) scale(0);
        transform: rotate(-180deg) scale(1.4);
        opacity: 1;
    }
    100% {
        //transform: translateY(0%) translateX(0%) rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateY(-100%) translateX(200%) rotate(-360deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) translateX(0%) rotate(0deg);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes SlipIn {
    0% {
        transform: translateY(-100%) scale(1.2);
        opacity: 0;
    }
    80% {
        transform: translateY(10%) scale(.9);
        opacity: 1;
    }
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    position: fixed;
    display: none;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.lightbox-container {
    position: relative;
    max-width: 960px;
    margin: 7% auto;
    display: block;
    padding: 0 3%;
    height: auto;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .lightbox-container {
        margin-top: 10%;
    }
}

@media screen and (max-width: 414px) {
    .lightbox-container {
        margin-top: 13%;
    }
}

.lightbox-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

.lightbox-close {
    text-transform: uppercase;
    background: transparent;
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -22px;
    right: 3%;
}

.video-container {
    padding-bottom: 56.25%;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}