---
layout: page
---
{% assign page_id = page.id | remove:'/blog/categories/' %}
<h2>Blog posts in: {{ page_id |  replace: '-', ' ' | capitalize }}</h2>
<section class="blog-wrapper">  
    {% for post in site.posts %}
    {% if post.categories contains page_id %}
    
    <article class="regular post type-post status-publish format-standard has-post-thumbnail hentry category-research masonry-blog-item clearfix">
      
      <div class="inner-wrap">
        <div class="post-content">
          <div class="content-inner">
            <a href="{{ post.url }}" class="teaser-spot">
              <span class="post-featured-img">
                {% if post.image_path %}
                <img width="500" height="298" src="{{ post.image_path }}" class="attachment-large size-large wp-post-image auto-height" alt="{{ post.title }} Pic" 
                  title="" srcset="{{ post.image_path }} 500w, {{ post.image_path }} 300w" sizes="(max-width: 500px) 100vw, 500px">
                {% endif %}
                {% if post.iframe_content %}
                   <div class="videoWrapper">
                    {{ post.iframe_content }}
                  </div>
                {% endif %}
                </span>
              </a>
              <div class="article-content-wrap">
                <div class="post-header">
                  <h2 class="title">
                      <a href="{{ post.url }}">{{ post.title }}</a></h2>
                    {% for cat in post.categories %}<span class="meta-category"><a href="{{ cat | prepend: '/blog/categories/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a></span>{% endfor %}
                </div><!--/post-header-->
              <div class="excerpt">{{post.content | remove: '<p>' | remove: '</p>' | truncatewords: 20}}</div>
              <a class="more-link" href="{{ post.url }}"><span class="continue-reading">Read More</span></a>						
    </div><!--article-content-wrap-->
    </div><div class="post-meta ">
            <div class="date">{{ post.date | date: "%B %d, %Y" }}</div><!--/date-->

          </div><!--/content-inner-->
        </div><!--/post-content-->
      </div><!--/inner-wrap-->
</article>
      {% endif %}
  {% endfor %}
</section>
 <!-- Pagination links -->


<script src='/assets/js/masonry.pkgd.min.js'></script>

<script>
  var container = document.querySelector('.blog-wrapper');
  var masonry = new Masonry(container, {
    columnWidth: 50,
    itemSelector: '.post'
  });
</script>