<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
{% include head.html %}

<body class="{% if page.class %} {{page.class}}{%endif%}">

    {% include browserupgrade.html %}

    <div id="header-space" data-header-mobile-fixed='1'></div>

    <div id="header-outer" data-has-menu="true" data-mobile-fixed="1" data-ptnm="1" data-lhe="animated_underline" data-user-set-bg="#ffffff" data-format="default" data-permanent-transparent="false" data-cart="false" data-transparency-option="" data-shrink-num="6"
        data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="50" data-m-logo-height="40" data-padding="30" data-header-resize="0">


        <header id="top">

            <div class="container">

                <div class="row">

                    <div class="col span_3">

                        <a id="logo" href="https://compasshighschool.org">

                            <img class="stnd default-logo" alt="Compass High School" src="/assets/images/COMPASS-HIGH-SCHOOL-LOGOS-colors2-2.png" /><img class="retina-logo " alt="Compass High School" src="/assets/images/COMPASS-HIGH-SCHOOL-LOGOS-colors2-2.png"
                            />
                        </a>

                    </div>
                    <!--/span_3-->

                    <div class="col span_9 col_last">


                        <div class="slide-out-widget-area-toggle">
                            <div>
                                <a href="#sidewidgetarea" class="closed"> <i class="icon-reorder"></i> </a>
                            </div>
                        </div>

                        <nav>
                            <ul class="buttons" data-user-set-ocm="1">
                                <li id="search-btn">
                                    <div><a href="#searchbox"><span class="icon-salient-search" aria-hidden="true"></span></a></div>
                                </li>

                                <li class="slide-out-widget-area-toggle">
                                    <div>
                                        <a href="#sidewidgetarea" class="closed"> <span> <i class="lines-button x2"> <i class="lines"></i> </i> </span> </a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="sf-menu">
                                <li id="menu-item-453" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-453"><a href="">About</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="/why-compass/">Why Compass?</a></li>
                                        <li id="menu-item-653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-653"><a href="/compass-high-school-experience/">The Compass High School Experience</a></li>
                                        <li id="menu-item-652" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-652"><a href="/research-resources-guiding-innovation/">Research and Resources Guiding our Innovation</a></li>
                                        <li id="menu-item-558" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-499 current_page_item menu-item-558"><a href="/faqs/">FAQs</a></li>
                                        <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="/our-team/">Our Team</a></li>
                                        <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="/blog/">Blog</a></li>
                                        <li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a href="mailto:info@compasshighschool.org">Contact Us</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-452"><a href="#">Involvement</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="/parents/">Parents</a></li>
                                        <li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="/students/">Students</a></li>
                                        <li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="/community-partners/">Community Partners</a></li>
                                        <li id="menu-item-511" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-511">
                                            <a href="https://docs.google.com/forms/d/1tUDNe-uJz-KzOh7rkBO_WyP4zHGTWY2ZozLB7K_8keY/viewform?edit_requested=true" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://docs.google.com/forms/d/1tUDNe-uJz-KzOh7rkBO_WyP4zHGTWY2ZozLB7K_8keY/viewform?edit_requested=true', 'Become a Volunteer');"
                                                target="_blank">Become a Volunteer</a>
                                        </li>
                                        <li id="menu-item-498" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-498"><a href="/contribute/?cfpage=project&#038;project_id=13261">Contribute to Compass!</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </nav>

                    </div>
                    <!--/span_9-->

                </div>
                <!--/row-->

            </div>
            <!--/container-->

        </header>


        <div class="ns-loading-cover"></div>


        </div>
        <!--/header-outer-->


        <div id="search-outer" class="nectar">

            <div id="search">

                <div class="container">

                    <div id="search-box">

                        <div class="col span_12">
                            <form action="https://compasshighschool.org" method="GET">
                                <input type="text" name="s" id="s" value="Start Typing..." data-placeholder="Start Typing..." />
                            </form>
                        </div>
                        <!--/span_12-->

                    </div>
                    <!--/search-box-->

                    <div id="close"><a href="#"><span class="icon-salient-x" aria-hidden="true"></span></a></div>

                </div>
                <!--/container-->

            </div>
            <!--/search-->

        </div>
        <!--/search-outer-->

        <div id="mobile-menu" data-mobile-fixed="1">

            <div class="container">
                <ul>
                    <li><a href="">No menu assigned!</a></li>
                </ul>
            </div>

        </div>

        <div id="ajax-loading-screen" data-disable-fade-on-click="0" data-effect="standard" data-method="standard">

            <span class="loading-icon none">
            <span class="default-loading-icon spin"></span>
            </span>
        </div>

        <div id="ajax-content-wrap">

            <div class="container-wrap">

                <div class="container main-content">

                    <div class="row">


                        <div id="fws_58ccda7da6fc7" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; ">
                            <div class="row-bg-wrap">
                                <div class="row-bg   " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                            </div>
                            <div class="col span_12 dark left">
                                <div class="vc_col-sm-12 wpb_column column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                    <div class="wpb_wrapper">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                {{content}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <!--/row-->

                </div>
                <!--/container-->

            </div>

            {% include footer.html %}

            {% include scripts.html %}
</body>

</html>
