<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
{% include head.html %}

<body class="{% if page.class %} {{ page.class }} {% endif %}">
    {% include browserupgrade.html %}

    {% if site.data.alert.message_html != null and site.data.alert.show == true %}
    {% include alertbar.html %}
    {% endif %}

    <!-- <div id="header-space" data-header-mobile-fixed='1'></div> -->
    <div class="site-nav">
          <nav>
            <ul class="top-menu" id="nav-global">
              <div class="menu-btn-close"><img src="/assets/images/close.png" /></div>
              <li><a href="#">About</a>
                  <ul class="sub-menu">
                    <li><a href="/why-compass/">Why Compass</a></li>
                    <li><a href="/compass-high-school-experience/">Compass Experience</a></li>
                    <li><a href="/research-resources-guiding-innovation/">Research &amp; Resources</a></li>
                    <li><a href="/faqs/">FAQs</a></li>
                    <li><a href="/our-team/">Our Team</a></li>
                  </ul>
              </li>
                <li><a href="#">Involvement</a>
                  <ul class="sub-menu">
                    <li><a href="/parents/">Parents</a></li>
                    <li><a href="/students/">Students</a></li>
                    <li><a href="/community-partners/">Community Partner Program</a></li>
                    <li><a href="/become-a-volunteer/">Become a Volunteer</a></li>
                    <li><a href="/contribute/?cfpage=project&#038;project_id=13261">Contribute to Compass!</a></li>
                  </ul>
                </li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
            </ul>
          </nav>
          </div>
    <div class="page-wrapper">
    {% include header.html %}


        <div id="ajax-content-wrap" class="clearfix">

            <div class="container-wrap">

                {% if page.header_image %}
                    {% include header-image.html %}
                {% endif %}

                <div class="container main-content" id="jump">

                    <div class="row">


                        <div id="fws_58ccda7da6fc7" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; ">
                            <div class="row-bg-wrap">
                                <div class="row-bg   " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                            </div>
                            <div class="col span_12 dark left">
                                <div class="vc_col-sm-12 wpb_column column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                    <div class="wpb_wrapper">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                {{content}}
                                            </div>
                                            {% if page.pdf.path %}
                                            <div id="iframe">
                                            <object data="{{ page.pdf.path }}#page=1&amp;zoom=100" type="application/pdf" width="100%" height="{{page.pdf.pixel_height}}" internalinstanceid="11">It appears you don't have a PDF plugin for this browser. No biggie... you can [click here to download the PDF file.]({{ page.pdf.path }})</object>
                                            </div>
                                            {% endif %}

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <!--/row-->

                </div>
                <!--/container-->

            </div>

            {% include footer.html %}
        </div>

            {% include scripts.html %}
            
</body>

</html>
