--- 
layout: default 
body_class: front 
---
<div class="wrap clearfix">
    {% comment %} {{content}} {% endcomment %}
    <section class="find-your-genius">
        {% comment %} <img src="/assets/images/templates/find-your-genius.png" alt="find-your-genius"> {% endcomment %}
         <img src="{{site.cloudinaryurl}}image/fetch/w_1528,h_549,c_fill,c_fill/{{site.url}}/assets/images/templates/find-your-genius.png" alt="find-your-genius" data-img="{{site.url}}/assets/images/templates/find-your-genius.png" data-width="1528px" data-height="549px">
    </section>

    <section class="secondary">
        <h3>Love school.</h3>
        <h3>Learn actively.</h3>
        <h4>Change the world.</h4>
        <p>Compass is Fort Collins' new tuition-free charter school. Students learn through active and engaging real-world projects — and graduate with a plan, a portfolio, and the tools to make a positive impact.</p>
        <h5>Now enrolling grades 6 – 10. </h5>
        <h6>Space is limited.</h6>
        <a href="#" class="call-to-action">Explore Compass</a>
    </section>

    <section class="curious container-margin-medium">
        <h2>Curious?</h2>
        <a href="#" class="call-to-action">Let's Connect</a>
    </section>

    <section class="ventue-project container-padding-medium">
        <div class="left">
            <img src="{{site.cloudinaryurl}}image/fetch/w_416,h_416,c_fill,c_fill/{{site.url}}/assets/images/front/front-venture-project.jpg" alt="Venture Project" data-img="{{site.url}}/assets/images/front/front-venture-project.jpg" data-width="416px" data-height="416px">
        </div>
        <div class="right">
            <h2>Venture Project: Deep-Field Ecology </h2>
            <p> <a href="#">Purpose:</a> Rarely are youth given the opportunity to be truly exposed to the environment around them. Most of our lives we are insulated from the environment which we rely on to stay alive. As we continue to create technological
                advances in our society we continue to push ourselves out of nature in a way that prevents us from making deep connections with the earth and with ourselves. <a href="#">More</a></p>
            <p>
                <a href="Community Partners:"></a> No Barriers, Colorado Mountain School, CSU Mountain Campus</p>
            <a href="#" class="call-to-action">Venture Forth</a>

        </div>
    </section>

    <section class="that-one-teacher container-padding-medium container-margin-medium clearfix">
        <div class="left">
            <h2>#ThatOneTeacher</h2>
            <h3>Remember that one teacher? They made learning fun. They helped you discover who you really are. They made you feel smart — helped you realize you are smart.</h3>

            <p>They didn’t quite fit into the institutional box, and more importantly, they didn’t try to fit you into any box. Compass is a school designed by those teachers. Compass is a school full of those teachers, surrounded and supported by a community
                of mentors from business, nonprofit and higher education organizations. That exceptional, life-changing learning experience you had isn’t the exception at Compass; it’s the rule.</p>
            <p><a href="#">Share your story:</a> <strong>#ThatOneTeacher, #CompassFortCollins</strong></p>


        </div>
        <div class="right">
            <img src="" alt="That One Teacher">
            <img src="{{site.cloudinaryurl}}image/fetch/w_416,h_416,c_fill,c_fill/{{site.url}}/assets/images/front/front-that-one-teacher-video.jpg" alt="Venture Project" data-img="{{site.url}}/assets/images/front/front-that-one-teacher-video.jpg" data-width="416px" data-height="416px">
        </div>

    </section>

    <section class="join-the-compass-community container-padding-medium">
        <div class="max-width-medium center-container">
            <h2>Join the Compass Community</h2>
            <p>Join our growing list of community partners and start seeing the benefit of working with our students. Your organization — business, nonprofit, artistic, college, university, and government entities — can partner with our students to engage
                in hands-on career exploration. Contact us for information on community engagement opportunities.</p>
            <p class="text-align-center"><a href="#" class="call-to-action">Become A Partner</a></p>
            <div class="logos">
                [ ADD THE PARTNER LOGOS HERE ]
            </div>
        </div>

    </section>

    <section class="news-and-updates container-padding-medium">
        <article class="news-and-update">
            <h3>STEM Conference at CSU for girls</h3>
            <img src="{{site.cloudinaryurl}}image/fetch/w_299,h_199,c_fill,c_fill/{{site.url}}/assets/images/rlw-uc03gwc-glenn-carstens-peters-1024x681.jpg" alt="STEM Conference at CSU for girls" data-img="{{site.url}}/assets/images/rlw-uc03gwc-glenn-carstens-peters-1024x681.jpg" data-width="299px" data-height="199px">

            <h4 class="date">Saturday, April 14 | 12p</h4>
            <p>For grades 6-8. Register here and look for our table to say hello!</p>
        </article>
        <article class="news-and-update">
            <h3>STEM Conference at CSU for girls</h3>
            <img src="{{site.cloudinaryurl}}image/fetch/w_299,h_199,c_fill,c_fill/{{site.url}}/assets/images/rlw-uc03gwc-glenn-carstens-peters-1024x681.jpg" alt="STEM Conference at CSU for girls" data-img="{{site.url}}/assets/images/rlw-uc03gwc-glenn-carstens-peters-1024x681.jpg" data-width="299px" data-height="199px">
            <h4 class="date">Saturday, April 14 | 12p</h4>
            <p>For grades 6-8. Register here and look for our table to say hello!</p>
        </article>
        <article class="news-and-update">
            <h3>STEM Conference at CSU for girls</h3>
            <img src="{{site.cloudinaryurl}}image/fetch/w_299,h_199,c_fill,c_fill/{{site.url}}/assets/images/rlw-uc03gwc-glenn-carstens-peters-1024x681.jpg" alt="STEM Conference at CSU for girls" data-img="{{site.url}}/assets/images/rlw-uc03gwc-glenn-carstens-peters-1024x681.jpg" data-width="299px" data-height="199px">
            <h4 class="date">Saturday, April 14 | 12p</h4>
            <p>For grades 6-8. Register here and look for our table to say hello!</p>
        </article>
        <article class="news-and-update">
            <h3>STEM Conference at CSU for girls</h3>
            <img src="{{site.cloudinaryurl}}image/fetch/w_299,h_199,c_fill,c_fill/{{site.url}}/assets/images/rlw-uc03gwc-glenn-carstens-peters-1024x681.jpg" alt="STEM Conference at CSU for girls" data-img="{{site.url}}/assets/images/rlw-uc03gwc-glenn-carstens-peters-1024x681.jpg" data-width="299px" data-height="199px">
            <h4 class="date">Saturday, April 14 | 12p</h4>
            <p>For grades 6-8. Register here and look for our table to say hello!</p>
        </article>
    </section>
    <section class="connect-with-compass container-padding-small">
        <h2>Connect with Compass</h2>
        <p>[ ADD THE SOCIAL FEED HERE ]</p>

    </section>
</div>