<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
{% include head.html %}

<body class="{% if page.class %} {{ page.class }} {% endif %}">
    {% include browserupgrade.html %}
<!--     <div class="site-nav">
          <nav>
            <ul class="top-menu" id="nav-global">
              <div class="menu-btn-close"><img src="/assets/images/close.png" /></div>
              <li><a href="#">About</a>
                  <ul class="sub-menu">
                    <li><a href="/why-compass/">Why Compass</a></li>
                    <li><a href="/compass-high-school-experience/">Compass Experience</a></li>
                    <li><a href="/research-resources-guiding-innovation/">Research &amp; Resources</a></li>
                    <li><a href="/faqs/">FAQs</a></li>
                    <li><a href="/our-team/">Our Team</a></li>
                  </ul>
              </li>
                <li><a href="#">Involvement</a>
                  <ul class="sub-menu">
                    <li><a href="/parents/">Parents</a></li>
                    <li><a href="/students/">Students</a></li>
                    <li><a href="/community-partners/">Community Partner Program</a></li>
                    <li><a href="/become-a-volunteer/">Become a Volunteer</a></li>
                    <li><a href="/contribute/?cfpage=project&#038;project_id=13261">Contribute to Compass!</a></li>
                  </ul>
                </li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
            </ul>
          </nav>
          </div> -->
    <div class="page-wrapper">
    {% include header.html %}
   
    <!-- Page Header Image -->
   <div id="page-header-wrap" data-animate-in-effect="none" data-midnight="light" class="fullscreen-header" style="margin-top: 0px; height: 840px;">	    
       <div class="fullscreen-header" data-animate-in-effect="none" id="page-header-bg" data-midnight="light" data-text-effect="none" data-bg-pos="center" data-alignment="center" data-alignment-v="middle" data-parallax="0" data-height="840" style="background-color: rgb(0, 0, 0); height: 840px; overflow: visible;">
      <div class="page-header-bg-image" style="background-image: url({{ page.home_header.image_path }}); transform: translate(0px, 0px);"></div> 
        <div class="container" style="transform: translate(0px, 0px);">
                  <div class="row" style="top: 0px; visibility: visible;">
                  <div class="col span_6">
                      <div class="inner-wrap">
                          <h1>{{ page.home_header.title }}</h1>
                          <span class="subheader">{{ page.home_header.subtitle }}</span>

                          <div class="btn"><a href="{{page.home_header.call_to_action_link_path}}">{{ page.home_header.call_to_action_text }}</a></div>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="scroll-down-wrap ">
                  <a href="#jump" class="section-down-arrow">
                      <i class="fa fa-angle-down"></i>
                  </a>
              </div>
      </div>
    </div>



    <div class="container-wrap" id="jump" style="padding-bottom: 0px; opacity: 1;">
      <div class=" main-content">
		
        <div class="container">
          <div id="fws_5936e8f406fa1" class="video-block clearfix">
            <div class="col span_12">
              <div class="vc_col-sm-8 span_8 wpb_column column_container col no-extra-padding instance-1">
                  <div class="wpb_wrapper">
                  <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center">
                    <div class="">
                        <div class="wpb_video_wrapper">
                            <div class="videoWrapper">
                              <iframe src="{{page.video_section.video_path}}" frameborder="0" allowfullscreen="" data-aspectratio="0.562962962962963" style=" opacity: 1; visibility: visible;">
                              </iframe>
                            </div>
                        </div>
                    </div>
                  </div>
                </div> 
              </div> 

              <div class="vc_col-sm-4 wpb_column column_container col centered-text padding-2-percent instance-2 span_4">
                  <div class="wpb_wrapper">                
                  <div class="wpb_text_column wpb_content_element ">
                      <h2>{{page.video_section.title}}</h2>
                      <p>{{page.video_section.sub_title}}</p>
                     <div class="btn"><a href="{{page.video_section.call_to_action_link_path}}">{{page.video_section.call_to_action_text}}</a></div>
                  </div>
                </div> 
              </div> 
            </div>
        </div>
      </div><!--/row-->

      <div class="card-block card-block-3 clearfix">
        <div class="container clearfix">
          <div class="col span_12 light left">
            <div class="vc_col-sm-4  span_4 updates_column1 wpb_column column_container col centered-text no-extra-padding instance-3" data-bg-cover="" data-padding-pos="left-right" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                <div class="wpb_wrapper">
                  
              <div class="col span_12 section-title text-align-center extra-padding">
              <h2>Contribute to Compass!</h2></div><div class="clear"></div>
            <div class="wpb_raw_code wpb_content_element wpb_raw_html updates_cf_card">
              <div class="wpb_wrapper">
                <iframe width="315" height="410" frameborder="0" src="https://widgets.communityfunded.com/projects/c5af563933809cfc22fe09ab2f5ec831&amp;l=pc" style="opacity: 1; visibility: visible;"></iframe>
              </div>
            </div>

                </div> 
            </div> 

            <div class="vc_col-sm-4 span_4 updates_campaign_video wpb_column column_container col centered-text no-extra-padding instance-4" data-bg-cover="" data-padding-pos="left-right" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                <div class="wpb_wrapper">
                  
              <div class="col span_12 section-title text-align-center extra-padding">
              <h2>Announcements and Events</h2></div><div class="clear"></div>
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                {{page.announcements_and_events.content_html}}
              </div>
            </div>

                </div> 
            </div> 

            <div class="vc_col-sm-4 span_4 wpb_column column_container col centered-text no-extra-padding instance-5" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                <div class="wpb_wrapper">
                  
              <div class="col span_12 section-title text-align-center extra-padding">
              <h2>Get the Latest from Compass</h2></div><div class="clear"></div>
            <div class="wpb_raw_code wpb_content_element wpb_raw_html updates_twitter_card">
              <div class="wpb_wrapper">
                <a class="twitter-timeline" data-width="315" data-height="410" href="https://twitter.com/compasshighfc">Tweets by compasshighfc</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>

                </div> 
            </div> 
          </div>
      </div>
      </div>



							
	
			</div><!--/container-->

	</div><!--/container-->
	



            {% include footer.html %}
</div>
            {% include scripts.html %}
            
</body>

</html>
