---
layout: default
---

<main>

  <section class="blog-wrapper wrap clearfix">
    <p class="back-to-blog"><a href="/blog/">< Back to all blogs</a></p>

      <h1>{{ page.title }}</h1>
      <p class="post-date">{{ page.date | date: "%a, %b %d, %Y" }}</p>
      <div class="addthis_inline_share_toolbox"></div>
      <p>{{ content }}</p>

     <!-- Categories -->
     <!-- {% for cat in page.categories %}
        <p class="category-label">Category: <a href="{{ cat | prepend: '/blog/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a></p>
      {% endfor %}
      {% if page.tags %}
        <ul class="tags">
          <li>Tags:</li>
          {% for tag in page.tags %}
            <li class="tag-label"><a href="{{ tag | prepend: '/blog/' | append: '/' }}">{{ tag | replace: '-', ' ' | capitalize }}</a></li>
          {% endfor %}
        </ul>
      {% endif %} -->



    <!-- Pagination -->
    <nav class="pagination" role="navigation">
      {% if page.previous %}
        <a href="{{ page.previous.url }}" class="" title="{{ page.previous.title }}">Older</a>
      {% endif %}
      {% if page.next %}
        <a href="{{ page.next.url }}" class="" title="{{ page.next.title }}">Newer</a>
      {% endif %}
    </nav>

  </section>
</main>
